.header {
    margin-top: 45px;
    padding-bottom: 81px;
}

.header__logo {
    margin-bottom: 41px;
}

@media screen and (max-width: 600px) {
    .header {
        margin: 0;
        padding-top: 28px;
        width: 100%;
    } 

    .header__logo {
        width: 126px;
        padding-bottom: 32px;
        padding-left: 27px;
      }
}
    
